<h1 class="page-header"><%= t('customers') %></h1>

<% if !@deliveries.blank? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('name') %></th>
        <th><%= t('phone') %></th>
        <th><%= t('province') %></th>
        <th><%= t('city') %></th>
        <th><%= t('district') %></th>
        <th><%= t('street') %></th>
        <th><%= t('postcode') %></th>
      </tr>
    </thead>
    <tbody>
      <% for delivery in @deliveries %>
      <tr>
        <td><%= delivery.name %></td>
        <td><%= delivery.phone %></td>
        <td><%= delivery.province %></td>
        <td><%= delivery.city %></td>
        <td><%= delivery.district %></td>
        <td><%= delivery.street %></td>
        <td><%= delivery.postcode %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  
<% end %>