<h1 class="page-header"><%= t('import_bulk_delivery_addresses') %></h1>

<% if notice %>
<div class="alert alert-success"><%= notice %></div>
<% end %>

<%= form_tag import_bulk_delivery_index_path, multipart: true do %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="excel-addesses"><%= t('bulk_delivery_address_file') %>: </label>
        <%= file_field_tag :file, :id => 'excel-addesses', :required => true %>
        <p class="help-block"><%= t('addresses_file_help_text') %></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="name"><%= t('bulk_delivery_name') %>: </label>
        <input type="text" name="name" class="form-control" size="30" required="required">
      </div>
    </div>
  </div>
  <%= submit_tag t('import'), :class => 'btn btn-default' %>
<% end %>

<hr>

<% if !@bulk_deliveries.blank? %>
  <div class="list-group">
    <% for bulk_delivery in @bulk_deliveries %>
    <a href=<%= bulk_delivery_path(bulk_delivery.id) %> class="list-group-item"><%= t('bulk_delivery_addresses') + ': ' + bulk_delivery.name %></a>
    <% end %>
  </div>
<% else %>
  
<% end %>