<h1 class="page-header">Bulk Delivery <%= @bulk_delivery.id %></h1>

<% if notice %>
<div class="alert alert-success"><%= notice %></div>
<% end %>

<% if !@bulk_delivery_details.blank? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Province</th>
        <th>City</th>
        <th>District</th>
        <th>Street</th>
        <th>Postcode</th>
      </tr>
    </thead>
    <tbody>
      <% for delivery in @bulk_delivery_details %>
      <tr>
        <td><%= delivery.name %></td>
        <td><%= delivery.phone %></td>
        <td><%= delivery.province %></td>
        <td><%= delivery.city %></td>
        <td><%= delivery.district %></td>
        <td><%= delivery.street %></td>
        <td><%= delivery.postcode %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  
<% else %>
  
<% end %>